<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <style> /* set the CSS */
    body { font: 12px Arial;}
    path {
      stroke-width: 2;
      fill: none;
    }
    .axis path, .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }
    .area {
      fill: #F0F8FF;
      stroke-width: 0;
    }
  </style>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="https://d3js.org/d3-time.v1.min.js"></script>
  <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
  <script> 
    // data for the temperature and humidity
    var graphData = {{ data.chart_data | safe }};
  </script>
</head>
<body>
<div id='graphDiv'></div>

<!--<script type="text/javascript" src="{{ url_for('static', filename='line_chart.js') }}"></script>-->
</body>
  <script type="text/javascript" src="{{ url_for('static', filename='line_chart.js') }}"></script>
<script> 
  draw(graphData);
</script>
</html>
